In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
# read csv
trash_df_read = pd.read_csv('../data/trash_hauler_report_with_lat_lng.csv')
trash_df_read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    20226 non-null  int64
 1   Date Opened       20226 non-null  object
 2   Request           20226 non-null  object
 3   Description       20195 non-null  object
 4   Incident Address  20217 non-null  object
 5   Zip Code          20151 non-null  float64
 6   Trash Hauler      19325 non-null  object
 7   Trash Route       19279 non-null  object
 8   Council District  20177 non-null  float64
 9   State Plan X      20198 non-null  float64
 10  State Plan Y      20198 non-null  float64
 11  LONGITUDE         20198 non-null  float64
 12  LATITUDE          20198 non-null  float64
dtypes: float64(6), int64(1), object(6)
memory usage: 2.0+ MB

In [3]:
trash_df_read.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861

In [4]:
# find out the different request type-- There are 4 different types of Requests.
trash_df_read_requests = trash_df_read["Request"].unique().tolist()
trash_df_read_requests

['Trash - Backdoor',
 'Trash - Curbside/Alley Missed Pickup',
 'Trash Collection Complaint',
 'Damage to Property']

In [5]:
# find out the description in different types of Requests.
#trash_df_read_requests = trash_df_read["Description"].unique().tolist()
#trash_df_read_requests

In [6]:
#trash_df_capitalize = trash_df_read["Description"].str.capitalize()
#trash_df_capitalize

In [7]:
# find out total missed pickups based on Description Column
# trash_df_missed_total = trash_df_read[trash_df_read['Description'].str.contains('missed| miss|not pick', case=False, na=True)]
# trash_df_missed_total.info()
# trash_df_missed_total.head()

In [8]:
# As part of Metro's contract with Red River Waste Solutions, failure to remedy an action or inaction will result in liquidated damages. One category 
# of liquidated damages is related to chronic problems in any category of service at the same premises. A chronic problem is defined as more than one 
# missed pickup for any address. The first missed pickup will not result in a fine; however, every subsequent missed pickup will result in a $200 fine.

# Your job is to determine the total amount of damages due to missed pickups. Note that not all rows that you have been provided correspond to missed
# pickups and that you will need to ensure that you are only counting missed pickups.

In [9]:
# find out total missed pickups based on Request Column
#trash_df_missed_total = trash_df_read[trash_df_read['Request']!= "Damage to Property"]

trash_df_missed_total = trash_df_read[trash_df_read["Request"].isin(["Trash - Backdoor",
 "Trash - Curbside/Alley Missed Pickup",
 "Trash Collection Complaint"])]
trash_df_missed_total.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y,LONGITUDE,LATITUDE
0,25270,11/1/2017,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1727970.412,686779.4781,-86.815392,36.217292
1,25274,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1721259.366,685444.7996,-86.838103,36.213470
2,25276,11/1/2017,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1707026.753,659887.4716,-86.885562,36.142923
3,25307,11/1/2017,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1735691.771,685027.2459,-86.789170,36.212652
4,25312,11/1/2017,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1710185.772,664205.1011,-86.874995,36.154861

In [10]:
# Assign values to the variables
missed_pickup = 1
fine_amount = 200

# What were to total missed pickup by route?

In [12]:
# Count of Missed pickup on Trash route
missed_route_count = trash_df_missed_total["Trash Route"].value_counts().reset_index()
missed_route_count.sum()
print(missed_route_count)

    Trash Route  count
0          4504    352
1          3302    309
2          1303    283
3          1301    271
4          4404    271
..          ...    ...
168       4201S      3
169       3303S      2
170       1502S      2
171       2505S      2
172       2201S      1

[173 rows x 2 columns]

In [13]:
# Calculating fine amount by missed route
missed_route_count = (missed_route_count[missed_route_count["count"]>1])
missed_route_count["fine_count"] = missed_route_count["count"]-missed_pickup
missed_route_count["fine_amount"] = missed_route_count["fine_count"]* fine_amount
missed_route_count

    Trash Route  count  fine_count  fine_amount
0          4504    352         351        70200
1          3302    309         308        61600
2          1303    283         282        56400
3          1301    271         270        54000
4          4404    271         270        54000
..          ...    ...         ...          ...
167       4504S      3           2          400
168       4201S      3           2          400
169       3303S      2           1          200
170       1502S      2           1          200
171       2505S      2           1          200

[172 rows x 4 columns]

In [30]:
missed_route_count.sum()

Trash Route    4504330213031301440413049303430432033305341232...
count                                                      19044
fine_count                                                 18872
fine_amount                                              3774400
dtype: object

In [15]:
# Refer different notebook in the same folder:
# Missed Trash Pickups
# In this data question you will be working data of service request related to missed trash pickups from hubNashville, Metro Nashville government's comprehensive customer service system (https://hub.nashville.gov).

# As part of Metro's contract with Red River Waste Solutions, failure to remedy an action or inaction will result in liquidated damages. One category of liquidated damages is related to chronic problems in any category of service at the same premises. A chronic problem is defined as more than one missed pickup for any address. The first missed pickup will not result in a fine; however, every subsequent missed pickup will result in a $200 fine.

# Your job is to determine the total amount of damages due to missed pickups. Note that not all rows that you have been provided correspond to missed pickups and that you will need to ensure that you are only counting missed pickups.


# After determining the total amount of damages, you can look at other questions:
# ⦁	What other types of complaints are there?
# ⦁	Are there any geospatial analysis you can do?  Which visualizations can you create?
# ⦁	How do metro crews compare to the contractor's performance?
# ⦁	How much does each trash hauler owe?